<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <title>Liste des résultats</title>
    </head>

    <body>
        <table id="results">
            <thead>
                <tr>
                    <th scope="col" id="rank">Rank</th>
                    <th scope="col" id="name">Name</th>
                    <th scope="col" id="artist">Artist</th>
                    <th scope="col" id="year">Year</th>
                </tr>
            </thead>
            <tbody>
                {{range .Albums}}
                    <tr>
                        <td>{{.Ranking}}</td>
                        <td>{{.Name}}</td>
                        <td>{{.Artist}}</td>
                        <td>{{.Year}}</td>
                    </tr>
                {{end}}
            </tbody>
        </table>

        <ul class="sortable" id="sortable">
            {{ range .Albums }}
                <li name='{{.Name}}' artist='{{.Artist}}' year='{{.Year}}'>{{.}}</li>
            {{ end }}
        </ul>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(document).ready(function() {
              $(".sortable").sortable({
                start: function( event, ui ) {
                  console.log(ui.item.index());
                },
                stop: function(event, ui) {
                  $rank = ui.item.index() + 1;
                  $name = ui.item.attr('name');
                  $artist = ui.item.attr('artist');
                  $year = ui.item.attr('year');
                  // POST to /albums with the given values
                  $.post('http://localhost:8080/album/',
                         { name: $name, year: $year, artist: $artist, rank: $rank},
                         function(data){
                            location.reload();
                        });
                },
              }).disableSelection();
            });
        </script>

        <form action="http://localhost:8080/artist/" method="post">
            <p>
                Nouvel artiste :<br>
                Nom<input type="text" name="name"><br>
                <input type="submit" value="Send">
            </p>
        </form>

        <form action="http://localhost:8080/album/" method="post" id="add_album_form">
            <p>
                Nouvel album :<br>
                Nom    <input type="text" name="name"><br>
                Artiste <select name="artist" form="add_album_form">
                            {{range .Artists}}
                                <option value={{.}}>{{.}}</option>
                            {{end}}
                        </select><br>
                Année  <input type="text" name="year"><br>
                Rang  <input type="text" name="rank"><br>
                <input type="submit" value="Send">
            </p>
        </form>
    </body>
</html>
