<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <title>Liste des résultats</title>
    </head>

    <body>
        <table id="results">
            <thead>
                <tr>
                    <th scope="col" id="rank">Rank</th>
                    <th scope="col" id="name">Name</th>
                    <th scope="col" id="artist">Artist</th>
                    <th scope="col" id="year">Year</th>
                </tr>
            </thead>
            <tbody>
                {{range .}}
                    <tr>
                        <td>{{.Ranking}}</td>
                        <td>{{.Name}}</td>
                        <td>{{.Artist}}</td>
                        <td>{{.Year}}</td>
                    </tr>
                {{end}}
            </tbody>
        </table>

        <form action="http://localhost:8080/artist/" method="post">
            <p>
                Nouvel artiste :<br>
                Nom<input type="text" name="name"><br>
                <input type="submit" value="Send">
            </p>
        </form>

        <form action="http://localhost:8080/album/" method="post">
            <p>
                Nouvel album :<br>
                Nom    <input type="text" name="name"><br>
                Artiste<input type="text" name="artist"><br>
                Année  <input type="text" name="year"><br>
                Rang  <input type="text" name="rank"><br>
                <input type="submit" value="Send">
            </p>
        </form>
    </body>
</html>
