<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <title>Liste des résultats</title>
    </head>

    <body>
        <div id="results">
            <ol class="sortable" id="sortable">
                {{ range .Albums }}
                    <li name='{{.Name}}' artist='{{.Artist}}' year='{{.Year}}'>
                        <a><strong>{{.Name}}</strong>
                        {{.Artist}} - {{.Year}}</a>
                    </li>
                {{ end }}
            </ol>
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>
                $(document).ready(function() {
                  $(".sortable").sortable({
                    start: function( event, ui ) {
                      console.log(ui.item.index());
                    },
                    stop: function(event, ui) {
                      $rank = ui.item.index() + 1;
                      $name = ui.item.attr('name');
                      $artist = ui.item.attr('artist');
                      $year = ui.item.attr('year');
                      // POST to /albums with the given values
                      $.post('http://localhost:8080/album/',
                             { name: $name, year: $year, artist: $artist, rank: $rank},
                             function(data){
                                location.reload();
                            });
                    },
                  }).disableSelection();
                });
            </script>
        </div>
        <br>
        <div class=newentry>
            <div class="newentry-heading">Nouvel artiste</div>
            <form action="http://localhost:8080/artist/" method="post">
                <label for="name">
                    <span>Nom <span class="required">*</span></span>
                    <input type="text" class="input-field" name="name" value="" />
                </label>
                <label><span>&nbsp;</span><input type="submit" value="Submit" /></label>
            </form>
        </div>
        <br>
        <div class=newentry>
            <div class=newentry-heading>Nouvel album</div>
            <form action="http://localhost:8080/album/" method="post" id="add_album_form">
                <label for="name">
                    <span>Nom <span class="required">*</span></span>
                    <input type=text class=input-field name=name value="" />
                </label>
                <label for="artist">
                    <span>Artiste <span class="required">*</span></span>
                    <select name="artist" form=add_album_form class="select-field">
                        {{range .Artists}}
                            <option value={{.}}>{{.}}</option>
                        {{end}}
                    </select>
                </label>
                <label for="year">
                    <span>Année <span class="required">*</span></span>
                    <input type=text class=input-field name=year value="" />
                </label>
                <label for="rank">
                    <span>Rang <span class="required">*</span></span>
                    <input type=text class=input-field name=rank value="" />
                </label>
                <label><span>&nbsp;</span><input type="submit" value="Submit" /></label>
            </form>
        </div>
    </body>
</html>
